.nav {
    grid-area: nav;
    background-color: darkseagreen;
    padding: 20px;
}
.item  a{
    color: #fff;
}
a.active {
    color: gold;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style-type: none;
}